@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;700&display=swap');

:root {
    --red: #de7d7d;
    --green: #B7E1CD;
    --background: #18181B;
    --card-background: #2B2B2B;
    --text: #FFF;
    --header-background: #000;
}

#title {
    margin-bottom: 0 !important;
    
}
#title-div h2 {
    margin-left: 2.5em;
}

.add {
    background-color: var(--green);
}
.subtract {
    background-color: var(--red);
}
.recurring-true, .bold {
    font-weight: bold !important;
}

html body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Source Sans Pro';
}

html .card {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 1em;
}

html .table th {
    color: var(--text);
}

html .table {
    border-bottom: 0;
}

header {
    display: flex;
    background-color: var(--header-background);
    border-bottom: grey solid 3px;
    padding-bottom: 1em;
}

footer {
    background-color: var(--header-background);
    border-top: grey solid 3px;
    margin-top: 9em;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

footer button {
    width: max-content;
    margin: auto;
}

header button {
    margin-right: 1em;
}

.caps {
    text-transform: capitalize;
}