@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;700&display=swap');

:root {
    --red: #d76a74;
    --green: #50b479;
    --background: #18181B;
    --card-background: #2B2B2B;
    --text: #FFF;
    --textbox: #DDD;
    --header-background: #000;
    --border: #434343;
}

#ideal-needs-bar {
    background-color: #8bba9f;
}
#ideal-wants-bar {
    background-color: #eb858f;
}

#title {
    margin-bottom: 0 !important;
    
}
#title-div h2 {
    margin-left: 2.5em;
}

.add {
    background-color: var(--green);
}
.subtract {
    background-color: var(--red);
}
.recurring-true, .bold {
    font-weight: bold !important;
}

html body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Source Sans Pro';
}

html .card {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 1em;
}

div.modal-content {
    background-color: var(--card-background);
}

html .table th {
    color: var(--text);
}

html .table {
    border-bottom: 0;
}

header {
    display: flex;
    background-color: var(--header-background);
    border-bottom: grey solid 3px;
    padding-bottom: 1em;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

footer {
    background-color: var(--header-background);
    border-top: grey solid 3px;
    margin-top: 9em;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

#login input {
    display: block;
    margin-bottom: .5em;
}

footer button {
    width: max-content;
    margin: auto;
}

header button {
    margin-right: 1em;
}

.caps {
    text-transform: capitalize;
}

tbody {
    cursor: pointer;
}

thead, tbody {
    text-align: center;
}

.card button {
    width: max-content;
    display: inline;
    margin-right: .3em;
    margin-left: .3em;
}

main {
    min-height: 70vh;
}

#summary {
    padding-top: 1em;
}

#title-div {
    padding-left: 1em;
}

body .form-control {
    background-color: var(--textbox);
    border: var(--border) solid 3px;
}

#transaction-details {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.transaction {
    border: solid 3px var(--border);
    margin: 1em;
    text-align: center;
    border-radius: 5px;
    width: 24%;
}

.transaction h3 {
    border-bottom: solid 3px var(--border);
    width: 100%;
    padding-bottom: .3em;
    padding-top: .3em;
}
.transaction p {
    padding: 1em;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}
.table>:not(:last-child)>:last-child>* {
    border-top: var(--border) solid 1px !important;
    border-bottom: var(--border) solid 1px !important;

}

table {
    border: var(--border) solid 1px !important;

}

button.btn-close {
    filter: invert();
}

#addTransactionModal {
    max-width: 100%;
}